body{
  margin: 0;
}

.App {
  background-color: #fefefe;
  height: 100%;
  width: 100%;
}

/* General styling for the homepage */
.homepage {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* Header styling */
.header-box {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Adjust height as needed */
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0;
}

/* Hero image styling */
.header-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

/* Responsive design */
@media (max-width: 768px) {
  .header-box {
      height: 50vh;
  }

  .header-box img {
      border-radius: 0;
  }
}




/* Styling untuk Desc-Item */
.Desc-Item {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #ffffff;
  padding: 25px;
  text-align: center;
  justify-content: center;
}

/* Styling untuk gambar */
.Desc-Item img {
  max-width: 25%; /* Ukuran gambar */
  height: auto;
  margin-bottom: 20px;
}

/* Styling untuk judul */
.Desc-Item h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

/* Styling untuk paragraf */
.Desc-Item p {
  font-size: 1.3rem;
  /* color: #7f8c8d; */
  line-height: 1.6;
}

/* Responsif untuk perangkat lebih kecil */
@media (max-width: 768px) {
  .Desc-Item {
      padding: 20px;
  }

  .Desc-Item h1 {
      font-size: 1.8rem;
  }

  .Desc-Item p {
      font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .Desc-Item {
    margin-top: -100px;
  }
}


/* Styling untuk Desc-SocialMedia */
.Desc-SocialMedia {
  /* max-width: 600px; */
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #003399;
  border-radius: 25px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Styling untuk judul h1 */
.Desc-SocialMedia h1 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 50px;
}

/* Styling untuk tombol */
.Desc-SocialMedia button {
  font-size: 1rem;
  padding: 10px 20px;
  color: #003399;
  background-color: #fffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 50px;
}

/* Hover effect untuk tombol */
.Desc-SocialMedia button:hover {
  background-color: #e8e8e8;
}

/* Responsif untuk perangkat lebih kecil */
@media (max-width: 768px) {
  .Desc-SocialMedia h1 {
      font-size: 0.95rem;
      margin-top: 15px;
      font-weight: normal;
  }

  .Desc-SocialMedia button {
      font-size: 0.7rem;
      padding: 8px 25px;
      margin-bottom: 15px;
  }
}

.struktur{
  border-bottom: 10px solid #003399;
  border-radius: 25px;
}


.struktur-kepengurusan {
  padding-top: 20px;
  padding-bottom: 60px;
}

.struktur-kepengurusan h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
  /* text-align: center; */
}

/* Styling untuk tombol */
.struktur-kepengurusan .all-profile a {
  font-size: 1rem;
  padding: 7px 40px;
  color: #003399;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 50px;
  border: 1px solid #003399;
  text-decoration: none;
  position: absolute; /* Ubah posisi button menjadi absolute */
  right: 100px; /* Posisikan button 20px dari kanan container */
}

/* Hover effect untuk tombol */
.struktur-kepengurusan a:hover {
  background-color: #e8e8e8;
}


/* Container for profile description */
.desc-struktur {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid #003399;
  margin: 20px; /* Menambahkan jarak antar item */
}


/* Image styling */
.desc-struktur img {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
}

/* Name styling */
.desc-struktur h1 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Job title styling */
.desc-struktur .job {
  font-size: 1rem;
  margin-bottom: 25px;
}

/* Button styling */
.desc-struktur a {
  width: 180px; /* Menentukan lebar tombol */
  height: 35px; /* Menentukan tinggi tombol */
  font-size: 0.875rem; /* Mengurangi ukuran font */
  color: #003399;
  background-color: white;
  border: 2px solid #003399; /* Menambahkan border (stroke) */
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  /* font-weight: bold; */
}

.desc-struktur a:hover {
  background-color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .struktur-kepengurusan h1 {
    font-size: 20px;
  }
  .struktur-kepengurusan .all-profile {
    font-size: 0.6rem;
    padding: 8px 25px;
    margin-bottom: 15px;
  }

  .struktur-kepengurusan a {
    font-size: 0.7rem;
    padding: 8px 16px;
    margin-bottom: 15px;
}

  .desc-struktur {
    padding-top: 15px;
    margin: 15px; /* Kurangi margin untuk layar lebih kecil */
  }


  .desc-struktur img {
    width: 120px; /* Ukuran gambar lebih kecil di layar tablet */
    height: 120px;
    margin-bottom: 2px;
  }

  .desc-struktur h1 {
    font-size: 1rem;
    margin-bottom: 8px;
  }

  .desc-struktur .job {
    font-size: 0.75rem;
    margin-bottom: 10px;
  }

  .desc-struktur a {
    padding: 8px 16px;
    font-size: 0.8rem;
  }
}

/* Styling responsif untuk layar dengan lebar maksimal 480px */
@media (max-width: 480px) {
  .struktur-kepengurusan h1 {
    font-size: 20px; /* Mengurangi ukuran font judul */
  }

  /* Styling untuk tombol */
  .struktur-kepengurusan .all-profile a {
    font-size: 0.875rem; /* Mengurangi ukuran font tombol */
    padding: 6px 30px; /* Mengurangi padding tombol */
    right: 20px; /* Memindahkan tombol lebih dekat ke tepi kanan */
  }

  /* Container for profile description */
  .desc-struktur {
    padding: 15px; 
    margin: 10px; /* Mengurangi jarak antar item */
  }

  /* Image styling */
  .desc-struktur img {
    width: 120px; /* Mengurangi ukuran gambar */
    height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* Name styling */
  .desc-struktur h1 {
    font-size: 14px; /* Mengurangi ukuran font nama */
    margin-bottom: 8px;
  }

  /* Job title styling */
  .desc-struktur .job {
    font-size: 10px; /* Mengurangi ukuran font job title */
    margin-bottom: 20px;
  }

  /* Button styling */
  .desc-struktur a {
    width: 150px; /* Mengurangi lebar tombol */
    height: 30px; /* Mengurangi tinggi tombol */
    font-size: 0.75rem; /* Mengurangi ukuran font tombol */
    margin-bottom: 20px; /* Mengurangi margin bawah */
  }
}


.struckture-page {
  padding: 20px;
}

.structure-btn-back a {
  font-size: 24px;
  text-decoration: none;
  color: #333;
}

.struckture-title h2 {
  text-align: center;
  margin-bottom: 20px;
}

.structure-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 kolom */
  gap: 20px; /* Jarak antar kolom */
}

/* Untuk layar dengan lebar maksimal 768px (tablet portrait) */
@media (max-width: 768px) {
  .structure-list {
    grid-template-columns: repeat(2, 1fr); /* 2 kolom */
  }

  .struckture-title h2 {
    font-size: 20px;
  }

  .structure-list {
    gap: 0px; /* Jarak antar kolom */
  }
  
  
}

/* Untuk layar dengan lebar maksimal 480px (ponsel) */
@media (max-width: 480px) {
  .structure-list {
    grid-template-columns: repeat(2, 1fr); /* 1 kolom */
  }

  .structure-btn-back a {
    font-size: 20px; /* Mengurangi ukuran font untuk tombol kembali */
  }

  .struckture-title h2 {
    font-size: 16px;
    margin-top: 20px;
  }
}



/* Styling untuk container program-kerja */
.program-kerja {
  padding: 20px;
  /* background-color: #f8f9fa; */
  /* text-align: center; */
}

/* Styling untuk judul */
.program-kerja h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* Styling untuk card dalam carousel */
.program-kerja .card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%; 
  margin: 0 auto;
  align-items: center;
  /* padding: 15px; */
  /* text-align: center; */
  transition: transform 0.3s ease;
  margin-bottom: 2px;
}

/* Hover effect untuk card */
.program-kerja .card:hover {
  /* transform: translateY(-10px); */
}

/* Styling untuk gambar dalam card */
/* Styling untuk gambar dalam card */
.program-kerja .card img {
  width: 306px; /* Mengatur lebar gambar */
  height: 230px; /* Mengatur tinggi gambar */
  object-fit: cover; /* Memastikan gambar mengisi area tanpa merusak rasio aspek */
  border-radius: 8px;
  margin-bottom: 15px;
}


/* Styling untuk judul dalam card */
.program-kerja .card h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;}

/* Styling untuk deskripsi waktu */
.program-kerja .Desc-time, .program-kerja .Desc-location {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  padding-left: 20px;
  padding-right: 20px;
}

.program-kerja .Desc-time p, .program-kerja .Desc-location p {
  margin-left: 5px;
  font-size: 0.9rem;
}

/* Styling untuk tombol dengan ukuran lebih kecil */
.program-kerja .card button {
  width: 180px; /* Menentukan lebar tombol */
  height: 35px; /* Menentukan tinggi tombol */
  font-size: 0.875rem; /* Mengurangi ukuran font */
  color: #003399;
  background-color: white;
  border: 2px solid #003399; /* Menambahkan border (stroke) */
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

/* Hover effect untuk tombol dengan perubahan warna border */
.program-kerja .card button:hover {
  background-color: #e8e8e8;
}



/* Responsif untuk perangkat lebih kecil */
@media (max-width: 768px) {
  .program-kerja h1 {
      font-size: 20px;
  }

  .program-kerja .card {
    width: 90%;
  }

  .program-kerja .card h2 {
      font-size: 1rem;
  }

  .program-kerja .card button {
      font-size: 0.9rem;
      padding: 8px 16px;
  }

  .program-kerja .card img {
    width: 230px; /* Mengatur lebar gambar */
    height: 160px; /* Mengatur tinggi gambar */
    object-fit: cover; /* Memastikan gambar mengisi area tanpa merusak rasio aspek */
    border-radius: 8px;
    margin-bottom: 15px;
  }
}

/* Responsive Styling untuk layar maksimal 480px */
@media (max-width: 480px) {
  /* Styling untuk judul */
  .program-kerja h1 {
    font-size: 20px; /* Mengurangi ukuran font judul */
  }

  /* Styling untuk card dalam carousel */
  .program-kerja .card {
    grid-template-columns: repeat(2, 1fr); /* 1 kolom */
  }

  /* Styling untuk gambar dalam card */
  .program-kerja .card img {
    width: 100%; /* Gambar mengisi lebar card */
    height: 100px; /* Mengatur tinggi otomatis agar proporsional */
  }

  .program-kerja .card h2 {
    font-size: 14px;
}

  /* Styling untuk tombol */
  .program-kerja .card button {
    width: 80%; /* Tombol mengisi lebar card */
    height: 30px; /* Mengatur tinggi tombol sedikit lebih besar */
    font-size: 10px; /* Mengatur ukuran font tombol */
  }

  /* Styling untuk deskripsi waktu */
  .program-kerja .Desc-time, .program-kerja .Desc-location {
    flex-direction: row; /* Mengatur deskripsi menjadi kolom untuk lebih baik di layar kecil */
    align-items: flex-start; /* Mengatur align ke kiri */
    padding-left: 10px; /* Mengurangi padding untuk ruang lebih */
    padding-right: 10px; /* Mengurangi padding untuk ruang lebih */
    font-size: 0.7rem;
    text-align: center;
    justify-content: center;
  }

  .program-kerja .Desc-time p, .program-kerja .Desc-location p {
    font-size: 0.7rem; /* Mengurangi ukuran font deskripsi */
  }
}

/* ProkerPage.css */

.proker-page {
  padding: 20px;
}

.proker-btn-back {
  margin-bottom: 20px;
}

.proker-btn-back a {
  font-size: 24px;
  text-decoration: none;
  color: #333;
}

.proker-body {
  margin-top: 90px;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  /* text-align: center; */
}

.proker-img img {
  width: 100%; /* Membuat gambar responsif */
  height: auto; /* Sesuaikan tinggi gambar */
  border-radius: 10px; /* Sudut melengkung pada gambar */
  margin-bottom: 20px; /* Ruang di bawah gambar */
    text-align: center;

}

.proker-title {
  font-size: 2.5rem;
  font-weight: bold;
    text-align: center;
  margin-bottom: 50px; /* Ruang di bawah judul */
}

.proker-desc {
  margin-top: 10px;
  font-size: 1.5rem;
  margin-bottom: 10px; /* Ruang di bawah deskripsi */
}

.proker-time,
.proker-location {
    display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  opacity: 0.9;
}

.proker-time p, .proker-location p {
  margin-left: 20px;
  margin-bottom: 15px;
  font-size: 1rem;
}

/* Media Queries untuk Responsif */
@media (max-width: 768px) {
  .proker-btn-back a {
      font-size: 20px; /* Kecilkan ukuran font untuk tombol kembali */
  }
  .proker-body {
      margin-top: 30px; /* Mengurangi margin atas untuk layar lebih kecil */
  }
  .proker-title {
    margin-bottom: 25px; /* Ruang di bawah judul */
      font-size: 20px; /* Kecilkan ukuran font judul untuk layar kecil */
  }
  .proker-desc {
      font-size: 16px; /* Kecilkan ukuran font deskripsi untuk layar kecil */
  }
  .proker-time,
  .proker-location {
      font-size: 13px; /* Kecilkan ukuran font waktu dan lokasi untuk layar kecil */
  }

  .proker-time p,
  .proker-location p {
      font-size: 12px; /* Kecilkan ukuran font waktu dan lokasi untuk layar kecil */
      margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .proker-btn-back a {
      font-size: 18px; /* Kecilkan ukuran font untuk tombol kembali */
  }
  .proker-body {
      padding: 5px; /* Mengurangi padding untuk layar ponsel kecil */
      align-items: flex-start; /* Rata kiri untuk tampilan lebih baik */
      text-align: left; /* Teks rata kiri untuk tampilan lebih baik */
  }
  .proker-title {
      font-size: 16px; /* Ukuran font judul lebih kecil untuk layar ponsel kecil */
  }
  .proker-desc {
      font-size: 12px; /* Ukuran font deskripsi lebih kecil untuk layar ponsel kecil */
  }
  .proker-time,
  .proker-location {
      font-size: 10px; /* Kecilkan ukuran font waktu dan lokasi untuk layar ponsel kecil */
  }
}


.pendaftaran-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background-color: #0064E5;
  /* border-radius: 10px; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* text-align: center; */
  color: #fff;
  /* opacity: 85%; */
  margin-top: 50px;
}

.pendaftaran-body h1 {
  font-size: 35px;
  margin-bottom: 50px;
  font-weight: bold;
}

.pendaftaran-desc {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 30px;
  max-width: 70%;
}

.pendaftaran-desc p {
  margin-bottom: 20px;
}

.pendaftaran-desc a {
  display: inline-block;
  padding: 6px 35px;
  background-color: #fff;
  color: #003399;
  text-decoration: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: 1px solid #003399;
}

/* .pendaftaran-desc a:hover {
  background-color: #0056b3;
} */

/* Untuk layar dengan lebar 768px atau lebih kecil */
@media (max-width: 768px) {
  .pendaftaran-body h1 {
    font-size: 20px; /* Mengurangi ukuran font judul */
    margin-bottom: 40px;
  }

  .pendaftaran-desc {
    font-size: 15px; /* Mengurangi ukuran font deskripsi */
    max-width: 70%; /* Menambah ruang pada layar lebih kecil */
  }

  .pendaftaran-desc a {
    padding: 6px 30px; /* Mengurangi padding pada tombol */
    font-size: 12px; /* Mengurangi ukuran font tombol */
  }
}


/* Footer.css */
.footer-page {
  background-color: #003399; /* Warna latar belakang footer */
  color: white; /* Warna teks */
  padding: 50px 0; /* Jarak atas dan bawah */
  /* text-align: center; */
  width: 100%; /* Memastikan footer lebar penuh */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-body {
  display: flex;
  justify-content: space-between; /* Memisahkan logo dan sosmed */
  align-items: center;
  flex-wrap: wrap; /* Elemen membungkus jika layar kecil */
  gap: 20px;
  padding: 0 20px;
}

.footer-image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-image img {
  width: 20%; /* Ukuran logo */
  margin-bottom: 10px; /* Jarak bawah antara logo dan nama */
}

.footer-image h2 {
  font-size: 28px;
  font-weight: bold;
  margin-left: 20px;
}

.social-media {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}

.social-media p {
  margin-bottom: 5px;
  font-size: 18px;
}

.social-media a {
  color: white; /* Warna ikon sosial media */
  font-size: 36px; /* Ukuran ikon */
  margin: 0 10px; /* Jarak antar ikon */
  transition: color 0.3s ease;
}
/* Warna spesifik untuk setiap sosial media */
.social-media .whatsapp {
  color: #25d366; /* Warna hijau WhatsApp */
}

.social-media .whatsapp:hover {
  color: #128c7e; /* Warna hijau lebih gelap saat di-hover */
}

.social-media .tiktok {
  color: #000; /* Warna hitam TikTok */
}

.social-media .tiktok:hover {
  color: #ff0050; /* Warna merah TikTok saat di-hover */
}

.social-media .instagram {
  color: #e4405f; /* Warna pink Instagram */
}

.social-media .instagram:hover {
  color: #c13584; /* Warna lebih gelap saat di-hover */
}

.social-media .youtube {
  color: #FF0000; /* Warna merah YouTube */
}

.social-media .youtube:hover {
  color: #cc0000; /* Warna lebih gelap saat di-hover */
}

.copyright-body {
  margin-top: 40px; /* Jarak dari footer-body */
  padding-top: 60px; /* Jarak dari footer-body */
  font-size: 20px;
  font-weight: bold;
  color: #fff; /* Warna hak cipta */
  text-align: center;
  border-top: 2px solid #fff;
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
  .footer-body {
      flex-direction: column; /* Susun vertikal di layar kecil */
  }

  .social-media {
      flex-direction: row; /* Ikon sosial media disusun horizontal */
      margin-top: 15px;
  }

  .social-media a {
      margin: 5px; /* Jarak antar ikon di layar kecil */
  }
}

.proker-page {
  padding: 20px;
  margin-bottom: 90px;
}

.proker-btn-back {
  margin-bottom: 20px;
}

.proker-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.proker-list {
  background-color: #ffffff;
  /* border-radius: 15px; */
  /* border: 1px solid #ddd; */
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 kolom untuk desktop */
  gap: 20px;
  /* transition: box-shadow 0.3s ease; */
}

.proker-list img {
  width: 100%;
  height: 230px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.proker-list h2 {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.proker-list p {
  font-size: 1rem;
  color: #555;
}

.proker-list .Desc-time, 
.proker-list .Desc-location {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.proker-list .Desc-time p, 
.proker-list .Desc-location p {
  margin-left: 5px;
  /* margin-top: 5px; */
  font-size: 0.9rem;
}

.proker-list button {
  width: 180px;
  height: 35px;
  font-size: 0.875rem;
  color: #003399;
  background-color: white;
  border: 2px solid #003399;
  border-radius: 10px;
  cursor: pointer;
  margin: 25px auto; /* Margin atas dan bawah 25px, margin kiri dan kanan otomatis untuk centering */
  text-align: center;
  display: flex;
  justify-content: center; /* Rata tengah secara horizontal */
  align-items: center; /* Rata tengah secara vertikal */
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Tambahkan gaya ini untuk membungkus elemen yang mencakup tombol */
.proker-list .button-wrapper {
  display: flex; /* Menggunakan flexbox untuk layout */
  justify-content: center; /* Rata tengah horizontal */
  margin: 20px 0; /* Jarak vertikal di atas dan bawah tombol */
}

.proker-list button:hover {
  background-color: #e8e8e8;
}

/* Responsif untuk layar 768px */
@media (max-width: 768px) {
  .proker-list {
    grid-template-columns: repeat(2, 1fr); /* 2 kolom untuk tablet */
  }

  .proker-title h2 {
    font-size: 20px; /* Mengurangi ukuran font untuk judul */
  }

  .proker-list img {
    width: 100%;
    height: 160px;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  .proker-list h2 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .proker-list p {
    font-size: 0.9rem;
    color: #555;
  }

  .proker-list .Desc-time p, 
.proker-list .Desc-location p {
  font-size: 0.85rem;
}

  .proker-list button {
    width: 150px; /* Ukuran tombol lebih kecil */
  }
}

/* Responsif untuk layar 480px */
@media (max-width: 480px) {
  .proker-list {
    grid-template-columns: repeat(2, 1fr); /* 2 kolom untuk ponsel */
  }

  .proker-title h2 {
    font-size: 16px; /* Mengurangi ukuran font lebih lanjut */
  }

  .proker-list img {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  .proker-list h2 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .proker-list p {
    font-size: 0.9rem;
    color: #555;
  }

  .proker-list .Desc-time p, 
.proker-list .Desc-location p {
  font-size: 0.7rem;
}

  .proker-list button {
    font-size: 10px;
    width: 80%; /* Tombol mengambil lebar penuh */
  }
}
  .visi-misi-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f0f4f7;
  padding-bottom: 20vh;
}

.card_VM {
  background-color: white;
  border: 2px solid #0056b3;
  border-radius: 20px;
  width: 45%;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card_VM h3 {
  color: #0056b3;
  font-weight: 600;
  text-align: left;
  text-decoration: underline; /* Menambahkan garis bawah */
  text-underline-offset: 2px; /* Mengatur jarak garis bawah dari teks */
  margin-bottom: 15px;
}

.card_VM p {
  text-align: justify;
  color: #333;
}

@media (max-width: 768px) {
  .visi-misi-container {
    flex-direction: column;
    align-items: center;
  }

  .card_VM {
    width: 90%;
    margin-bottom: 20px;
  }
}